*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    transition:
        background-color .35s ease,
        color .35s ease,
        border-color .35s ease,
        box-shadow .35s ease;

}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--bg);

    color:var(--heading);

    font-family:"Inter",sans-serif;

    overflow-x:hidden;

    -webkit-font-smoothing:antialiased;

}

h1,
h2,
h3,
h4{

    font-family:"Playfair Display",serif;

    font-weight:700;

    color:var(--heading);

}

p{

    color:var(--text);

    line-height:1.8;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    font-family:inherit;

    border:none;

    outline:none;

    cursor:pointer;

}

img{

    display:block;

    max-width:100%;

}

section{

    width:min(var(--container),92%);

    margin:auto;

    padding:90px 0;

}

::selection{

    background:var(--accent);

    color:#fff;

}
/* ===========================
   TABLET
=========================== */

@media (max-width:992px){

section{

    width:min(92%,700px);

    padding:80px 0;

}

}

/* ===========================
   MOBILE
=========================== */

@media (max-width:768px){

section{

    width:90%;

    padding:70px 0;

}

h1{

    font-size:42px;

}

h2{

    font-size:38px;

}

}

/* ===========================
   SMALL MOBILE
=========================== */

@media (max-width:480px){

section{

    width:92%;

    padding:60px 0;

}

}