:root{

    /* Background */

    --bg:#FAF8F6;

    --surface:#FFFFFF;

    /* Text */

    --heading:#1F2430;

    --text:#5F6778;

    /* Accent */

    --accent:#7A5AA6;

    --accent-hover:#65498C;

    /* UI */

    --border:#ECE5DF;

    --tag:#F8F5FB;

    --shadow:
        0 15px 40px rgba(0,0,0,.05);

    --radius:20px;

    --container:1180px;

    --transition:.35s ease;

    /* Theme Extras */

    --accent-soft:#F1ECF8;

    --accent-outline:#D6C9EA;

    --navbar-bg:rgba(250,248,246,.92);

}

/* =======================================
   DARK MODE
======================================= */

[data-theme="dark"]{

    /* Background */

    --bg:#131417;

    --surface:#1C1E22;

    /* Text */

    --heading:#F5F5F5;

    --text:#C7CBD4;

    /* Accent */

    --accent:#9B7BC9;

    --accent-hover:#AE92D6;

    /* UI */

    --border:#2E3238;

    --tag:#2A2E35;

    --shadow:
        0 20px 55px rgba(0,0,0,.45);

    /* Theme Extras */

    --accent-soft:rgba(155,123,201,.12);

    --accent-outline:rgba(155,123,201,.28);

    --navbar-bg:rgba(19,20,23,.92);

}