:root{

    /* Background */

    --bg:#FCF9F4;

    --surface:#FFFFFF;

    /* Text */

    --heading:#20263A;

    --text:#5D6577;

    /* Accent */

    --accent:#7657A5;

    --accent-hover:#62458F;

    /* UI */

    --border:#E9E2DB;

    --tag:#F7F2FA;

    --shadow:
        0 15px 40px rgba(43,34,57,.055);

    --radius:20px;

    --container:1180px;

    --transition:.35s ease;

    /* Theme Extras */

    --accent-soft:#F0E9F7;

    --accent-outline:#D6C9EA;

    --navbar-bg:rgba(252,249,244,.92);
    --peach:#F4CDC3;
    --ink-soft:#303950;
    --lavender-wash:rgba(118,87,165,.11);

}

/* =======================================
   DARK MODE
======================================= */

[data-theme="dark"]{

    /* Background */

    --bg:#131417;

    --surface:#1C1E22;

    /* Text */

    --heading:#F5F5F5;

    --text:#C7CBD4;

    /* Accent */

    --accent:#9B7BC9;

    --accent-hover:#AE92D6;

    /* UI */

    --border:#2E3238;

    --tag:#2A2E35;

    --shadow:
        0 20px 55px rgba(0,0,0,.45);

    /* Theme Extras */

    --accent-soft:rgba(155,123,201,.12);

    --accent-outline:rgba(155,123,201,.28);

    --navbar-bg:rgba(19,20,23,.92);
    --peach:#B67872;
    --ink-soft:#E5E2EC;
    --lavender-wash:rgba(155,123,201,.16);

}
